.common-table-container {
  position: relative;
}

.common-task-base {
  position: absolute;
  height: 100px;
  background-color: rgba(221, 221, 221, 0.7);
}

.common-weektable {
  thead {
    tr {
      background-color: #f5f6f8;
    }
  }

  td,
  th {
    border-right: solid 1px #e1e5e9;
    //border-left: solid 1px #f00;
    height: 60px;
    //width: 120px;
  }
}
